coverage
model_bakery
black
pytest
pytest-django
pytest-xdist
pytest-cov
refurb
flake8
daphne
time-machine
django>=4.2.27 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability